{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="bg-dark">
    <br><br><br><br><br><br><br>
    <center>
        <div class="container shadow p-3 mb-5 bg-white rounded" style="width: 400px;">
        <h1 class="text-warning">CONFIRMATION</h1>
            <br>
            <h4>ARE YOU SURE? <br><br> YOU WANT TO DELETE</h4><br>
            <h3 class="text-danger">{{item.studentfname}}</h3><br>
            <a href="{% url 'delete'  item.id %}"><button type="submit" class="btn btn-danger">YES</button></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'table' %}"><button class="btn btn-info">CANCEL</button></a>
    </div>
    </center>
</body>
</html>